MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=smart-campus-system
MONGODB_DATABASE=smart_campus_db
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CLIENT_SCOPE=email,profile
JWT_SECRET=your-super-long-secret-key-here
